{% extends "main/layout.html" %}
{% block content %}

<div class="container">

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">My Documents</a>
        </div>
    </nav>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Document</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>
                    <p>Title: {{ file.title }}</p>
                    <p>Created at: {{ file.created_at }}</p>
                    <p>Size: {{ file.formattedSize }}</p>
                    <p>Hash: {{ file.file_hash }}</p>

                    <div class="row row-cols-auto">
                        <div class="col">
                            <form action="{{ url_for('document.documents_action', file_id=file.id) }}" method="POST">
                                <input class="btn btn-primary btn-block" type="submit" value="View">
                            </form>
                        </div>
                        <div class="col">
                            <form action="{{ url_for('document.documents_action', file_id=file.id) }}" method="POST">
                                <input class="btn btn-success btn-block" type="submit" value="Download">
                            </form>
                        </div>
                        <div class="col">
                            <form action="{{ url_for('document.documents_action', file_id=file.id) }}" method="POST">
                                <input class="btn btn-danger btn-block" type="submit" value="Delete">
                            </form>
                        </div>
                    </div>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

</div>

<!-- <div class="col-md-6">
    <form method="POST" enctype="multipart/form-data" action="">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.file.label(class="form-control-label") }}
                {{ form.file(class="form-control form-control-lg") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div> -->
<!-- <div class="row">
    <div id="file_list" class="col-md-8">
        <ul>
            {% for file in files %}
            <li>
                <p>Title: {{ file.title }}</p>
                <p>Created At: {{ file.created_at }}</p>
                <p>Size: {{ file.formattedSize }}</p>
                <p>Hash: {{ file.file_hash }}</p>
                <div class="row">
                    <div class="col">
                        <form action="" method="POST">
                            <input class="btn btn-primary btn-block" type="submit" value="Download">
                        </form>
                    </div>
                    <div class="col">
                        <form action="" method="POST">
                            <input class="btn btn-danger btn-block" type="submit" value="Delete">
                        </form>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>  -->
{% endblock content %}