{% extends "main/layout.html" %}
{% block content %}

<div class="container">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">My Documents</a>
          <form class="d-flex" action="{{ url_for('document.upload') }}" method="POST">
            <button class="btn btn-outline-success me-2" type="submit">Upload Document</button>
          </form>
        </div>
      </nav>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Document</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>
                    <p><span><strong>Title:</strong></span> {{ file.title }}</p>
                    <p><span><strong>Created At:</strong></span> {{ file.created_at.strftime("%b %d %Y - %I:%M %p") }}</p>
                    <p><span><strong>Size:</strong></span> {{ file.formattedSize }}</p>
                    <p><span><strong>Hash:</strong></span> {{ file.file_hash }}</p>

                    <div class="row row-cols-auto">
                        <div class="col">
                            <form action="{{ url_for('document.view', file_id=file.id) }}" method="POST">
                                <input class="btn btn-primary btn-block" type="submit" value="View">
                            </form>
                        </div>
                        <div class="col">
                            <form action="{{ url_for('document.download', file_id=file.id) }}" method="POST">
                                <input class="btn btn-success btn-block" type="submit" value="Download">
                            </form>
                        </div>
                        <div class="col">
                            <form action="{{ url_for('document.delete', file_id=file.id) }}" method="POST">
                                <input class="btn btn-danger btn-block" type="submit" value="Delete">
                            </form>
                        </div>
                    </div>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock content %}